.subnavbar {
  height: 35px;
  background-color: rgb(25, 88, 81);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-subbar {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 530;
  color: white;
}

.left-subbar-contents {
  padding-left: 6px;
  padding-right: 6px;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
}

.left-subbar-contents1 {
  font-weight: 600;
  padding-right: 13px;
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.left-subbar-contents1:hover {
  padding-top: 3px;
  padding-bottom: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
  cursor: pointer;
}

.left-subbar-contents:hover {
  border-width: 1px;
  border-style: solid;
  border-color: white;

  border-radius: 3px;
  padding-top: 7px;

  padding-bottom: 7px;
  cursor: pointer;
}

.menubar {
  font-size: 25px;
  font-weight: 500;
  margin: 0;

}

.right-subbar {

  display: flex;
  font-size: small;
  color: white;
  align-items: center;
  padding-right: 20px;
  font-weight: 600;
  text-wrap: nowrap;
}

.banner-ad {

  height: 310px;




}

.bannerimg {
  width: 1380px;
  overflow: hidden;

  box-shadow: 0 300px 300px rgba(210 59 12);
}

.bannerdiv {
  display: flex;
  justify-content: center;
  height: 60px;
  text-align: center;
}

.banner {
  margin-bottom: 20px;
  padding: 11%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  text-wrap: nowrap;
}

.banner-span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: rgb(0, 113, 133);
}

.link:hover {
  color: orangered;
  text-decoration: underline;
  cursor: pointer;
}